<!DOCTYPE html>
<html lang="ja">
  <head>
    <head>
      <title>Furby</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
  </head>
  <body>
    <header>
      <%= render "layouts/header" %>
    </header>
    <div class="col-lg-8 mx-auto">
      <% if notice %>
        <div class="alert alert-success" role="alert">
          <strong>成功！</strong> - <%= notice %><br>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger" role="alert">
          <strong>エラー！</strong> - <%= alert %><br>
        </div>
      <% end %>
    </div>
    <main>
      <%= yield %>
    </main>
    <footer>
      <%= render "layouts/footer" %>
    </footer>
    <script src="https://kit.fontawesome.com/67024cb754.js" crossorigin="anonymous"></script>
  </body>
</html>
